/* =============
    Typography
============= */

// font-family: 'asap', sans-serif;
// font-family: 'Lato', sans-serif;

h1 {
    font-family: 'asap', Sans-serif;
    font-weight: medium; 
}

h2 {
    font-family: 'asap', sans-serif;
    font-weight: medium;
}

h3 {
    font-family: 'lato', sans-serif;
    font-weight: lighter;
}

p {
    font-family: 'lato', Sans-serif; 
    font-weight: lighter;
    text-decoration-color: white;
}