/* =============
    Section-9
============= */
    form {
        * {
          display: block;
        }
        
        label {
          font-weight: bold;
          margin-bottom: 4px;
        }
        
        input,
        button,
        select,
        textarea {
          margin-bottom: 16px;
        }
      }  

img {
    align-content: center;
}


