/* =============
    Section-6
============= */
#Alchemy {
    background-color: #22181C;
    margin: 25px;
    padding: 10px;

    h1 {
        text-align: center;
        margin-top: 25px;
        color: white;
    }

    #about-par {
        text-align: left;
        padding-left: 60px;
        padding-right: 60px;
        margin: 25px;
        color: white;
    }

    img {
        align-content: center;
    }
}