/* =============
    Section-5
============= */
#orderahead {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

#spoon {
        justify-content: center;
        margin: 25px;
    }

