/* =============
    Section-2
============= */
#buttons {
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
      }
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
      }
}

#menu {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
      }

#shop {
    display: flex;
    align-items: center;
}
