/* =============
    Section-3
============= */
#menu {
    background-color: #22181C;
    color: white;
    min-height: 100vh;
    padding: 16px;
    margin-left: 25px;
    margin-right: 25px;
    font-family: 'lato', sans-serif;
    font-weight: lighter;
    line-height: 30px;

    #gold {
        border: 1px solid goldenrod;
        min-height: 100vh;
        width: 100%;
      }

    #menu-header {
        text-align: center;
        padding: 25px;
    }
    
    #coffee-table {
        text-align: center;
        max-width: 50%;
    }
    
    #tea {
        align-items: center;
        max-width: 50%;
    }
    
    #firstpart {
        text-align: center;
    }
    
    #parttwo {
        display: grid;
        grid-area: second;
        text-align: left;
    }

    .container {
        margin-top: 30px;
        width: 100%;
      }
      
      #menutable-1 {
        margin-left: 25px;
        border-collapse: collapse
        
        td { 
            padding: 150px; 
            margin-right: 20px;
        }  
      }

      #menutable-2 {
          margin-left: 25px;
      }

      #menutable-3 {
          margin-left: 25px;
      }

      #menutable-4 {
          margin-left: 25px;
      }
}

