/* =============
    Section-4
============= */
#covid {
    display: grid;
    text-align: center;
    margin: 25px;
    padding-top: 40px;
}
#covidpar {
    display: grid;
    text-align: left;
    background-color: #896A67;
    padding: 60px 45px;
    margin: 25px;
    color: white;
}
    
