/* =============
    Section-10
============= */
#member {

    border: 1px solid goldenrod;
    margin: 25px;
    padding: 25px;

    form {
        * {
            display: block;
        }
    
        label {
            font-weight: bold;
            margin-bottom: 4px;
        }
    
        input,
        button,
        textarea {
            margin-bottom: 16px;
        }
    }  

    button {
        background-color: #22181C;
        color: white;
        border: none;
        padding-left: 20px;
        padding-right: 20px;
        align-content: right;
    }
}

h1 {
    text-align: center;
    margin: 25px;
}

#community {
    text-align: center;
    margin: 80px 25px;
}