/* =============
    Section-1
============= */
#section1 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas: "contact coffee about";

    h2 {
        grid-area: contact;
    }
    h2 {
        grid-area: coffee;
    }
    h2 {
        grid-area: about;
    }
}

#coffeespill {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    max-width: 100%;
}