/* =============
    Section-10
============= */
#member {
    form {
        * {
            display: block;
        }
    
        label {
            font-weight: bold;
            margin-bottom: 4px;
        }
    
        input,
        button,
        textarea {
            margin-bottom: 16px;
        }
    }  
}

h1 {
    text-align: center;
    margin: 25px;
}
