/* =============
    Section-6
============= */
h1 {
    text-align: center;
    margin-top: 25px;
}

p {
    padding-left: 60px;
    padding-right: 60px;
}

img {
    padding-right: 26px;
    padding-left: 26px;
    align-content: center;
    margin-left: 25px;
    margin-right: 25px;
}

#alchemy {
    display: grid;
    background-color: #22181C;
}