/* =============
    Section-1
============= */
#section1 {
    display: grid;
    grid-template-areas: "contact coffee about";

    #contact {
        grid-area: contact;
    }
    #coffee {
        grid-area: coffee;
    }
    #about {
        grid-area: about;
    }
    #coffee-spill {
            max-width: 100%;
            align-items: center;
    }
}
