/* =============
    Section-5
============= */
#orderahead {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    img {
        align-items: center;
    }

