/* =============
    Section-2
============= */
#buttons {
    >div {
        padding-left: 16px;
    }
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    #menu {
        display: grid;
        align-items: center;
    }

    #shop {
        display: grid;
        align-items: center;
    }
}