/* =============
    Header
============= */
    #coffee-header {
        display: grid;
        grid-template-columns: 140px;
        grid-template-rows: 200px;
        grid-area: coffeeheader;
        text-align: left;

    #peddler {
        display: grid;
        grid-area: peddler;

    }

    grid-template-areas: "coffeeheader peddler";

    }